.home-page {

    // .home-page__about

    &__about {
        background-color: rgba(0, 0, 0, 0.08);
        padding: toRem(30);
    }
}
.about {

    // .about__container

    &__container {
        gap:  toRem(50);
        align-items: center;
        @media (min-width: toEm(992)) {
            display: flex;
		}
    }

    // .about__image
    &__inner {
        flex-basis: 50%;
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
    } 

    &__image {
        height: 400px;
        background-image: url(../img/about/about_02.webp);
        background-repeat: no-repeat;
        background-size: 100% auto;
        // background-size: 100% ;
        background-position: center center;
        background-attachment: fixed;
            
        
    }



    // .about__content

    &__content {
        flex-basis: 50%;
    }

    // .about__section-header

    &__section-header {
    }
}
.section-header {

    // .section-header__title

    &__title {
    }

    // .section-header__text

    &__text p{
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .section-header__text--color

    &__text--color {
    }
}
