.footer {
	background-color: var(--dark-color-6);
        color: var(--white-color);

	// .footer__container

	&__container {

	}

	// .footer__body

	&__body {
		padding-block: toRem(50, 20);
		border-bottom: 0.2px solid var(--white-color);
		display: grid;
		gap: toRem(20);
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	// .footer__logo

	&__logo {
		inline-size: toRem(150);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (min-width: toEm(992)) {
			inline-size: toRem(199);
		}
	}

	&__info {
		max-width: toRem(300);
	}
	// .footer__nav

	&__nav {
	}

	// .footer__bottom

	&__bottom {
		padding-block: toRem(20);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.nav-footer {

	// .nav-footer__title

	&__title {
		font-size: toRem(21);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	// .nav-footer__list

	&__list {
		// max-width: toRem(250);
	}

	// .nav-footer__item

	&__item {
		max-width: toRem(250);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}

	// .nav-footer__link

	&__link {
		
	}

	// .nav-footer__form

	&__form {
		
	}

	// .nav-footer__line

	&__line {
		// padding: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		
	}

	// .nav-footer__textarea

	&__textarea,
	&__input {
		background-color: var(--white-color);
		padding: toRem(5) toRem(10);
	}		
		
	&__textarea {
		resize: none;
		min-height: toRem(40);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .nav-footer__button

	&__button {
	}


	&__input::placeholder,
	&__field::placeholder{
		
	}
}
